{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert alert-{{ 'danger' if category == 'error' else category }} small py-2 mb-4">
        {% if category == 'success' %}
          <i class="bi bi-check-circle-fill text-success me-2"></i>
        {% elif category in ['danger','error'] %}
          <i class="bi bi-x-circle-fill text-danger me-2"></i>
        {% elif category == 'warning' %}
          <i class="bi bi-exclamation-triangle-fill text-warning me-2"></i>
        {% else %}
          <i class="bi bi-info-circle-fill text-info me-2"></i>
        {% endif %}
        {{ message }}
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}